
<h2 align=center>User Form</h2>
<form action="display">

<p align=center>Name : <input type='text' name='name' placeholder='enter your name'</p><br>
<p align=center>Email : <input type='email' name='email' placeholder='enter your email'</p><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<p align=center>Date of Birth : <input type="date" placeholder="enter your dob" name="dob" id="dob"></p><br>
<p align=center>Date of Birth : <input type="date" placeholder="enter your dob" name="date1" max=></p><br>
<p align=center>Phone no. : <input type='tel' name='phone' placeholder='enter your phone no.'</p><br><br>
<p align=center><input type='submit' value='Submit'></p>

</form>