<h2 align="center">User Form</h2>
<form action="user">
<p align=center>Name : <input type="text" placeholder="enter your name" name="name"></p><br>
<p align=center>Email : <input type="emial" placeholder="enter your email" name="email"></p><br>
<p align=center>Date of Birth : <input type="date" placeholder="enter your date of birth" name="dob"></p><br>
<p align=center>Phone no. : <input type="tel" placeholder="enter your phone number" name="phone"></p><br><br>
<p align=center><input type="submit" value="Submit"></p>
</form>
